/*************** Main Page Layout **************/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: Times, serif;
  // By Adbar - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=27342180
	background-image: url("../images/background.jpg");
	background-size: cover;
  margin: 0 auto;
  max-width: 980px;
}

main {
  font-size: 2rem;
  background-color: rgba(245, 245, 245, 0.65);
}

.header-text {
  background-color: rgba(200, 200, 200, 0.65);
  padding: 2px;
}

.help-text {
  background-color: rgba(245, 245, 245, 0.65);
  padding: 2px;
}

.errors-section {
  background-color: rgba(245, 200, 200, 0.65);
  padding: 2px;
}

.server-msg {
  background-color: rgba(200, 245, 200, 0.65);
  padding: 2px;
}

.button-group {
  background-color: rgba(200, 200, 200, 0.65);
  padding: 2px;
}

.footer-text {
  background-color: rgba(233,233,233,0.2);
}

.auth-text {
  background-color: rgba(245, 245, 245, 0.65);
  padding: 2px;
}

header {
	display: inline;
}

nav {
	background-image: url("../images/logo_omnifilter_70.png");
	background-repeat: no-repeat;
	margin-bottom: 10px;
	font-size: 1.7em;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 425px;
	width: 100%;
}

h1 {
  font-size: 4rem;
}

h1.title {
	font-family: serif;
	font-size: 3em;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

img {
  max-width: 100%;
  display:block;
  height: auto;
}

footer {
	text-align: center;
	text-size: 12;
	padding-top: 500px;
	width: 100%;
  color: green;
}

footer a {
   color: #1111DD;
}
